<header class="site-header">
  <nav class="nav-inner">
    <a href="{{ '/' | relative_url }}" class="nav-logo">{{ site.author.name }}</a>
    <ul class="nav-links">
      <li><a href="#about">About</a></li>
      <li><a href="#publications">Publications</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#skills">Skills</a></li>
      <li>
        <a href="https://github.com/{{ site.author.github }}" target="_blank" rel="noopener">
          GitHub
        </a>
      </li>
    </ul>
  </nav>
</header>
